{{ header }}
<img src="catalog/view/theme/default/img/element3.png" class="s-service__img3" alt="" data-paroller-direction="vertical" data-paroller-factor="-0.5" data-paroller-type="foreground">
<div class="s-category__wrap"><div class="s-category__links" style="opacity: 0"></div></div>
{{ content_top }}
{{ content_bottom }}
{{ footer }}
