<div class="header__search">
  <input type="search" name="search" placeholder="Поиск" value="{{ search }}">
  <button class="header__search-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
      <defs>
        <style>
          .cls-1 {
            fill: #21446e;
            fill-rule: evenodd;
          }
        </style>
      </defs>
      <path id="search" class="cls-1" d="M1117.15,72.326c1.28,1.284,2.57,2.57,3.85,3.85-0.28.281-.55,0.554-0.82,0.824q-1.92-1.917-3.85-3.852a5.686,5.686,0,0,1-5.02,1.1,5.494,5.494,0,0,1-3.3-2.3,5.7,5.7,0,0,1,8.33-7.628A5.736,5.736,0,0,1,1117.15,72.326Zm-4.46.911a4.522,4.522,0,0,0,.09-9.043A4.522,4.522,0,1,0,1112.69,73.237Z" transform="translate(-1107 -63)"/>
    </svg>
  </button>
</div>
