<div class="container user_text">
    <div class="row">
      	<div class="col-sm-12">
	      <div>{% if heading_title %}
		  <h2 class="h2">{{ heading_title }}</h2>
		  {% endif %}
		  {{ html }}</div>
		</div>
  	</div>
</div>